.env
.funcignore
.git
.gitignore
.mypy_cache
.venv
Makefile
README.md
azure-button.py
createUIDefinition.json
deploy-function-app-only.sh
deploy.sh
deployment.png
getting_started.md
host.json
local.settings.json
main.bicep
main.json
